* {
    font-family: "Cal Sans";
}

body {
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}